    <footer style="text-align: center; background-color: white; margin-top: 15%;">
        <p>Um footer qualquer</p>
    </footer>
    
    <script src="./assets/js/bundle.js"></script>
    </body>
</html>

